<div class="main">
  <div class="header">
    <span class="title">Главная</span>
  </div>
  <div class="tabs">
    <button class="date">
      Сегодня
    </button>
    <button class="date">
      Неделя
    </button>
    <button class="date">
      Месяц
    </button>
    <button class="date">
      Год
    </button>
    <button class="date">
      Все
    </button>
    <button class="date">
      Интервал
    </button>
    <div class="date-current">
      c <span>Дата</span> по <span>Дата</span>
    </div>
  </div>
  <div class="charts">
    <div class="row">
      <div class="chart-income col-md-6 col-sm-12 mb-5">
        <h3 class="text-center">Доходы</h3>
        <div class="chart-container">
          <canvas id="donutChart" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
      <div class="chart-expenses col-md-6 col-sm-12">
        <h3 class="text-center">Расходы</h3>
        <div class="chart-container">
          <canvas id="donutChart2" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>

