@use "mix/mix.scss" as mix;
@use "variables/variables.scss" as var;



.tabs {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  flex-wrap: wrap;
  margin-bottom: 140px;

  button {
    width: 100px;
    padding: 9px 12px;


    border: 1px solid var.$date-color;
    border-radius: 4px;


    @include mix.font-bold;

    font-size: 16px;

    line-height: 19px;

    letter-spacing: 0.457143px;

    color: var.$date-color;
    transition: all 0.2s;

    &:hover {
      color: var.$white;
      background: var.$date-color;
    }
  }

  .date-current {
    display: flex;
    gap: 17px;
    @include mix.font-bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var.$black;

    span {
      color: var.$date-color;
      border-bottom: 1px solid var.$date-color;
    }
  }

}

.card-body {
  padding: 0;
}

h3 {
  @include mix.font-bold;
  margin: 20px;
  font-size: 28px;
  line-height: 33px;
  color: var.$chart-color;
  text-align: center;
}


.charts {
  margin-bottom: 173px;

  .chartjs-render-monitor {
    min-height: 250px !important;
    height: 250px !important;
    max-height: 416px !important;
    max-width: 100% !important;
    display: block !important;
    width: 249px ;
  }
  .chart-income, .chart-expenses{
    padding: 0 !important;
  }

}

