<div class="income">
  <div class="header">
    <h1 class="title">Доходы</h1>
  </div>
  <div class="container-incomes">
    <div class="income-item">
      <h3 class="income-title">Депозиты</h3>
      <div class="process-links">
        <a
          href="/income/edit"
          class="edit-link"
        >Редактировать
        </a>
        <button
          type="button"
          class="delete-link"
        >Удалить
        </button>
      </div>
    </div>
    <div class="income-item">
      <h3 class="income-title">Депозиты</h3>
      <div class="process-links">
        <a
          href="/income/edit"
          class="edit-link"
        >Редактировать
        </a>
        <button
          type="button"
          class="delete-link"
        >Удалить
        </button>
      </div>
    </div>
    <div class="income-item">
      <h3 class="income-title">Депозиты</h3>
      <div class="process-links">
        <a
          href="/income/edit"
          class="edit-link"
        >Редактировать
        </a>
        <button
          type="button"
          class="delete-link"
        >Удалить
        </button>
      </div>
    </div>
  </div>
  <div class="popup d-none">
    <h3 class="popup-text">Вы действительно хотите удалить категорию? Связанные доходы останутся без категории.</h3>
    <div class="popupLinks">
      <a href="/income" class="success-delete-link" >Да, удалить</a>
      <button type="button" class="delete-link" id="not-delete">Нет, не удалять</button>
    </div>
  </div>
</div>