<div class="income">
  <div class="header">
    <h1 class="title">Создание дохода/расхода</h1>
  </div>
  <div class="group">
    <div class="inputs d-flex flex-column">

      <select
        type="text"
        id="typeInput"
        name="typeInput"
        class="input-form-select"
      >
        <option value="income">Доходы</option>
        <option value="expenses">Расходы</option>
      </select>
      <input
        type="text"
        id="salaryInput"
        name="salaryInput"
        class="input-form"
        placeholder="Категория..."
      />
      <input
        type="number"
        id="amountInput"
        name="amountInput"
        class="input-form"
        placeholder="Сумма в $..."
      />
      <input
        type="text"
        id="dateInput"
        name="dateInput"
        class="input-form"
        placeholder="Дата..."
      />
      <input
        type="text"
        id="commentInput"
        name="commentInput"
        class="input-form"
        placeholder="Комментарий"
      />

    </div>

    <div class="process-links">
      <a
        href="/income-expenses"
        class="edit-link"
      >Сохранить
      </a>
      <a
        href="/income-expenses"
        class="canceled-link"
      >Отмена
      </a>
    </div>
  </div>
</div>