<div class="income">
  <div class="header">
    <h1 class="title">Редактирование дохода/расхода</h1>
  </div>
  <div class="group">
    <div class="inputs d-flex flex-column">
      <input
        type="text"
        id="incomeInput"
        name="incomeInput"
        class="input-form"
        placeholder="Доход"
      />
      <input
        type="text"
        id="salaryInput"
        name="salaryInput"
        class="input-form"
        placeholder="Зарплата"
      />
      <input
        type="number"
        id="amountInput"
        name="amountInput"
        class="input-form"
        placeholder="сумма"
      />
      <input
        type="text"
        id="dateInput"
        name="dateInput"
        class="input-form"
        placeholder="Дата"
      />
      <input
        type="text"
        id="commentInput"
        name="commentInput"
        class="input-form"
        placeholder="Комментарий"
      />

    </div>

    <div class="process-links">
      <a
        href="/income-expenses"
        class="edit-link"
      >Сохранить
      </a>
      <a
        href="/income-expenses"
        class="canceled-link"
      >Отмена
      </a>
    </div>
  </div>
</div>