<div class="create">
  <div class="header">
    <h1 class="title">Создание категории расходов</h1>
  </div>
  <div class="input-and-buttons">
    <div class="d-flex flex-column">
       <span class="input-error mt-1 text-danger mb-2" id="input-error-name">
              Введите название
          </span>
      <input
        type="text"
        id="nameInput"
        class="input-form"
        placeholder="Название..."
      />

    </div>


    <div class="process-links">
      <button
        class="edit-link"
        id="saveButton"
      >Сохранить
      </button>
      <a
        href="/expenses"
        class="canceled-link"
      >Отмена
      </a>
    </div>
  </div>
</div>