<div class="edit">
  <div class="header">
    <h1 class="title">Редактирование категории расходов</h1>
  </div>
  <div class="input-and-buttons">
    <span class="input-error mt-1 text-danger mb-2" id="input-error-name">
              Введите название
          </span>
    <input
      type="text"
      id="nameInput"
      name="nameInput"
      class="input-form"
      placeholder="Название..."
    />

    <div class="process-links">
      <button
        class="edit-link border-0"
        id="saveButton"
      >Сохранить
      </button>
      <a
        href="/expenses"
        class="canceled-link"
      >Отмена
      </a>
    </div>
  </div>
</div>