<div class="expenses">
  <div class="header">
    <h1 class="title">Редактирование категории расходов</h1>
  </div>
  <div class="input-and-buttons">
    <input
      type="text"
      id="passwordInput"
      name="passwordInput"
      class="input-form"
      placeholder="Жилье"
    />
    <div class="process-links">
      <a
        href="/expenses"
        class="edit-link"
      >Сохранить
      </a>
      <a
        href="/expenses"
        class="canceled-link"
      >Отмена
      </a>
    </div>
  </div>
</div>